@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size : 55px;


  background-image: url(https://i.pinimg.com/originals/3e/ed/a1/3eeda1b9220917e74e36cc47d7291e44.jpg);
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
